#container {
width: 600px;
height: 600px;
position: relative;
background: #99d8d0;
}

#sq {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7a4e4e;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
}